NODE_ENV=test
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/priceyless_test?schema=public"
JWT_SECRET="test-secret-minimum-16-chars"
JWT_EXPIRES_IN="1d"
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN="*"
